# Acessando Dados do Pysus

Precisamos começar instalando o Pysus na nossa máquina virtual do Colab!

In [3]:
# pip install pysus

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pysus
  Downloading pysus-0.9.2-py3-none-any.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 22.4 MB/s eta 0:00:00
Collecting Unidecode<2.0.0,>=1.3.6 (from pysus)
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 25.3 MB/s eta 0:00:00
Requirement already satisfied: cffi==1.15.1 in /usr/local/lib/python3.10/dist-packages (from pysus) (1.15.1)
Collecting dbfread==2.0.7 (from pysus)
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Collecting elasticsearch==7.16.2 (from pysus)
  Downloading elasticsearch-7.16.2-py2.py3-none-any.whl (385 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 385.7/385.7 kB 39.4 MB/s eta 0:00:00
Collecting fastparquet<0.9.0,>=0.8.1 (from pysus)
  Downloading fastparquet-0.8.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 77.6 MB/s eta 0:00:00
Collecting geobr<0.3.0,>=0.2.0 (from pysus)
  Downloading geobr-0.2.0-py2.py3-none-any.whl (34 kB)
Collecting geocoder<2.0.0,>=1.38.1 (from pysus)
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 kB 11.8 MB/s eta 0:00:00
Collecting ipykernel<7.0.0,>=6.22.0 (from pysus)
  Downloading ipykernel-6.23.1-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.2/152.2 kB 17.9 MB/s eta 0:00:00
Collecting jupyterlab<4.0.0,>=3.4.5 (from pysus)
  Downloading jupyterlab-3.6.3-py3-none-any.whl (8.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.9/8.9 MB 52.4 MB/s eta 0:00:00
Collecting loguru<0.7.0,>=0.6.0 (from pysus)
  Downloading loguru-0.6.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.0 MB/s eta 0:00:00
Collecting numpy==1.23.2 (from pysus)
  Downloading numpy-1.23.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.0/17.0 MB 49.9 MB/s eta 0:00:00
Collecting pandas==1.4.3 (from pysus)
  Downloading pandas-1.4.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 57.9 MB/s eta 0:00:00
Collecting pyarrow>=11.0.0 (from pysus)
  Downloading pyarrow-12.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.9/38.9 MB 10.3 MB/s eta 0:00:00
Requirement already satisfied: pycparser==2.21 in /usr/local/lib/python3.10/dist-packages (from pysus) (2.21)
Collecting pyreaddbc==1.0.0 (from pysus)
  Downloading pyreaddbc-1.0.0.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.9/43.9 kB 4.4 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: python-dateutil==2.8.2 in /usr/local/lib/python3.10/dist-packages (from pysus) (2.8.2)
Collecting pytz==2022.2.1 (from pysus)
  Downloading pytz-2022.2.1-py2.py3-none-any.whl (500 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 500.6/500.6 kB 47.6 MB/s eta 0:00:00
Requirement already satisfied: six==1.16.0 in /usr/local/lib/python3.10/dist-packages (from pysus) (1.16.0)
Collecting sqlalchemy<2.0.0 (from pysus)
  Downloading SQLAlchemy-1.4.48-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 82.9 MB/s eta 0:00:00
Collecting tqdm==4.64.0 (from pysus)
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.4/78.4 kB 9.7 MB/s eta 0:00:00
Collecting wget<4.0,>=3.2 (from pysus)
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: urllib3<2,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from elasticsearch==7.16.2->pysus) (1.26.15)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from elasticsearch==7.16.2->pysus) (2022.12.7)
Collecting cramjam>=2.3.0 (from fastparquet<0.9.0,>=0.8.1->pysus)
  Downloading cramjam-2.6.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 59.0 MB/s eta 0:00:00
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from fastparquet<0.9.0,>=0.8.1->pysus) (2023.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from fastparquet<0.9.0,>=0.8.1->pysus) (23.1)
Collecting geopandas<0.8.0,>=0.7.0 (from geobr<0.3.0,>=0.2.0->pysus)
  Downloading geopandas-0.7.0-py2.py3-none-any.whl (928 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 928.1/928.1 kB 58.5 MB/s eta 0:00:00
Collecting shapely<2.0.0,>=1.7.0 (from geobr<0.3.0,>=0.2.0->pysus)
  Downloading Shapely-1.8.5.post1-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 90.8 MB/s eta 0:00:00
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geocoder<2.0.0,>=1.38.1->pysus) (8.1.3)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from geocoder<2.0.0,>=1.38.1->pysus) (0.18.3)
Collecting ratelim (from geocoder<2.0.0,>=1.38.1->pysus)
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from geocoder<2.0.0,>=1.38.1->pysus) (2.27.1)
Collecting comm>=0.1.1 (from ipykernel<7.0.0,>=6.22.0->pysus)
  Downloading comm-0.1.3-py3-none-any.whl (6.6 kB)
Requirement already satisfied: debugpy>=1.6.5 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (1.6.6)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (7.34.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (6.1.12)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (5.3.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (0.1.6)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (1.5.6)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (5.9.5)
Requirement already satisfied: pyzmq>=20 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (23.2.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (6.3.1)
Requirement already satisfied: traitlets>=5.4.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.22.0->pysus) (5.7.1)
Collecting jupyterlab-server~=2.19 (from jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading jupyterlab_server-2.22.1-py3-none-any.whl (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.0/57.0 kB 7.0 MB/s eta 0:00:00
Requirement already satisfied: jupyter-server<3,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (1.24.0)
Collecting jupyter-ydoc~=0.2.3 (from jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading jupyter_ydoc-0.2.4-py3-none-any.whl (5.9 kB)
Collecting jupyter-server-ydoc~=0.8.0 (from jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading jupyter_server_ydoc-0.8.0-py3-none-any.whl (11 kB)
Collecting nbclassic (from jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading nbclassic-1.0.0-py3-none-any.whl (10.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.0/10.0 MB 118.3 MB/s eta 0:00:00
Requirement already satisfied: notebook<7 in /usr/local/lib/python3.10/dist-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (6.4.8)
Requirement already satisfied: jinja2>=2.1 in /usr/local/lib/python3.10/dist-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (3.1.2)
Requirement already satisfied: tomli in /usr/local/lib/python3.10/dist-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (2.0.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0.0->pysus) (2.0.2)
Collecting fiona (from geopandas<0.8.0,>=0.7.0->geobr<0.3.0,>=0.2.0->pysus)
  Downloading Fiona-1.9.4.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 53.6 MB/s eta 0:00:00
Collecting pyproj>=2.2.0 (from geopandas<0.8.0,>=0.7.0->geobr<0.3.0,>=0.2.0->pysus)
  Downloading pyproj-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 66.3 MB/s eta 0:00:00
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (67.7.2)
Collecting jedi>=0.16 (from ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 53.3 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.1->jupyterlab<4.0.0,>=3.4.5->pysus) (2.1.2)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.22.0->pysus) (3.3.0)
Requirement already satisfied: anyio<4,>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (3.6.2)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (21.3.0)
Requirement already satisfied: nbconvert>=6.4.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (6.5.4)
Requirement already satisfied: nbformat>=5.2.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (5.8.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.16.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.17.1)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (1.5.1)
Collecting jupyter-server-fileid<1,>=0.6.0 (from jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading jupyter_server_fileid-0.9.0-py3-none-any.whl (15 kB)
Collecting ypy-websocket<0.9.0,>=0.8.2 (from jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading ypy_websocket-0.8.4-py3-none-any.whl (10 kB)
Collecting y-py<0.6.0,>=0.5.3 (from jupyter-ydoc~=0.2.3->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading y_py-0.5.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 79.6 MB/s eta 0:00:00
Requirement already satisfied: babel>=2.10 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0,>=3.4.5->pysus) (2.12.1)
Collecting json5>=0.9.0 (from jupyterlab-server~=2.19->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading json5-0.9.14-py2.py3-none-any.whl (19 kB)
Collecting jsonschema>=4.17.3 (from jupyterlab-server~=2.19->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading jsonschema-4.17.3-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.4/90.4 kB 9.9 MB/s eta 0:00:00
Collecting requests (from geocoder<2.0.0,>=1.38.1->pysus)
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.6/62.6 kB 6.8 MB/s eta 0:00:00
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from notebook<7->jupyterlab<4.0.0,>=3.4.5->pysus) (0.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->geocoder<2.0.0,>=1.38.1->pysus) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->geocoder<2.0.0,>=1.38.1->pysus) (3.4)
Collecting notebook-shim>=0.2.3 (from nbclassic->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading notebook_shim-0.2.3-py3-none-any.whl (13 kB)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<4,>=3.1.0->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (1.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0,>=3.4.5->pysus) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0,>=3.4.5->pysus) (0.19.3)
Collecting jupyter-events>=0.5.0 (from jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading jupyter_events-0.6.3-py3-none-any.whl (18 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (4.11.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (6.0.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.4)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.2.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.7.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (1.5.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (1.2.1)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.2.0->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (2.16.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel<7.0.0,>=6.22.0->pysus) (0.2.6)
Collecting aiofiles<23,>=22.1.0 (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading aiofiles-22.1.0-py3-none-any.whl (14 kB)
Collecting aiosqlite<1,>=0.17.0 (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading aiosqlite-0.19.0-py3-none-any.whl (15 kB)
INFO: pip is looking at multiple versions of ypy-websocket to determine which version is compatible with other requirements. This could take a while.
Collecting ypy-websocket<0.9.0,>=0.8.2 (from jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading ypy_websocket-0.8.3-py3-none-any.whl (10 kB)
  Downloading ypy_websocket-0.8.2-py3-none-any.whl (10 kB)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (21.2.0)
Collecting click-plugins>=1.0 (from fiona->geopandas<0.8.0,>=0.7.0->geobr<0.3.0,>=0.2.0->pysus)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5 (from fiona->geopandas<0.8.0,>=0.7.0->geobr<0.3.0,>=0.2.0->pysus)
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: jsonschema[format-nongpl]>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus) (4.3.3)
Collecting python-json-logger>=2.0.4 (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading python_json_logger-2.0.7-py3-none-any.whl (8.1 kB)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus) (6.0)
Collecting rfc3339-validator (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Collecting rfc3986-validator>=0.1.1 (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc~=0.8.0->jupyterlab<4.0.0,>=3.4.5->pysus)
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl (4.2 kB)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (2.4.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.5.1)
WARNING: jsonschema 4.3.3 does not provide the extra 'format-nongpl'

Quando concluído, clique no botão "RESTART RUNTIME"

In [1]:
import pandas as pd
import numpy as np
import pysus as sus
from pysus.online_data import SINAN

Utilizando métodos da classe SINAN, podemos retornar uma lista com os nomes das doenças disponíveis e outra com os anos disponíveis de uma determinada doença.

In [3]:
doencas = SINAN.list_diseases()
print(type(doencas))
print(doencas)

<class 'list'>
['Animais Peçonhentos', 'Botulismo', 'Cancer', 'Chagas', 'Chikungunya', 'Colera', 'Coqueluche', 'Contact Communicable Disease', 'Acidentes de Trabalho', 'Dengue', 'Difteria', 'Esquistossomose', 'Febre Amarela', 'Febre Maculosa', 'Febre Tifoide', 'Hanseniase', 'Hantavirose', 'Hepatites Virais', 'Intoxicação Exógena', 'Leishmaniose Visceral', 'Leptospirose', 'Leishmaniose Tegumentar', 'Malaria', 'Meningite', 'Peste', 'Poliomielite', 'Raiva Humana', 'Sífilis Adquirida', 'Sífilis Congênita', 'Sífilis em Gestante', 'Tétano Acidental', 'Tétano Neonatal', 'Tuberculose', 'Violência Domestica', 'Zika']

In [4]:
anos = SINAN.get_available_years('Acidentes de Trabalho')
print(anos)

['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

Uma vez decididos a doença e o ano que serão utilizados para a visualização, baixamos o arquivo de dados com a função `read_parquet()` do Pandas.

In [5]:
path = SINAN.download('Acidentes de Trabalho', int(anos[1]))
dataframe = pd.read_parquet(path)

O objeto retornado da função é do tipo DataFrame:

In [6]:
print(type(dataframe))
dataframe

<class 'pandas.core.frame.DataFrame'>

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_ACID,...,MUN_ATENDE,UNI_ATENDE,PART_CORP1,PART_CORP2,PART_CORP3,CID_LESAO,REGIME,EVOLUCAO,DT_OBITO,CAT
0,2,Y96,20070104,200701,2007,35,351380,1332,2086107,20070104,...,351380,,06,,,S68,3,9,,1
1,2,Y96,20070127,200704,2007,35,351380,1332,2086107,20070127,...,351380,2080028,02,03,,S06,2,9,,1
2,2,Y96,20070131,200705,2007,35,351380,1332,2086107,20070131,...,351380,2080028,06,,,S69,2,9,,1
3,2,Y96,20070128,200705,2007,35,351380,1332,2086107,20070128,...,351380,2080028,06,,,S67,2,9,,1
4,2,Y96,20070123,200704,2007,35,351380,1332,2086107,20070123,...,351380,2080028,06,,,S68,3,9,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19720,2,Y96,20071227,200752,2007,35,354870,1332,5239869,20070917,...,354870,5239869,11,99,99,M544,2,2,,1
19721,2,Y96,20071211,200750,2007,35,354870,1332,5239869,20071119,...,354870,2080591,06,99,99,S626,2,2,,1
19722,2,Y96,20071210,200750,2007,29,291470,1396,5369746,20070703,...,291470,2470152,02,07,08,T932,2,3,,1
19723,2,Y96,20071223,200752,2007,29,290840,1410,5634369,20071122,...,290840,2598205,10,,,T290,1,3,,2
19724,2,Y96,20071219,200751,2007,29,290840,1410,5634369,20070806,...,292800,2510278,06,,,S681,2,2,,1

Como podemos ver, um DataFrame é um objeto de Python que se assemelha muito a uma tabela. Se pedirmos a propriedade `.shape` de um DataFrame, ela nos retornará uma tupla com as dimensões da tabela. Nesse caso temos 19.725 linhas, e 54 colunas:

In [7]:
dataframe.shape

(19725, 54)

# Manipulando dados de um DataFrame

Para retirar uma única coluna de um DataFrame, o acessamos com colchetes e chamamos a string correspondente ao nome da coluna:

In [8]:
serie = dataframe['CS_SEXO']
serie

0        M
1        F
2        M
3        M
4        M
        ..
19720    F
19721    M
19722    M
19723    M
19724    M
Name: CS_SEXO, Length: 19725, dtype: object

Cada coluna do DataFrame é de um outro tipo especial de Pandas: uma Série.

In [9]:
type(serie)

pandas.core.series.Series

Através da coluna destacada como série, podemos ainda utilizar o NumPy para convertê-la em um Array, e assim manipulá-lo matematicamente.

In [16]:
serie2 = dataframe["PART_CORP2"]
array2 = np.array(serie2)
print(array2.dtype)

object

Porém temos um problema: esse array veio com o mesmo tipo da série, que originalmente era do tipo `object` - o tipo mais genérico do NumPy. Esse tipo abrange a maioria dos conteúdos possíveis, mas não suporta operações matemáticas. 

Podemos tentar fazer uma conversão direta para número:

In [17]:
# array2 = array2.astype("float64")

ValueError: ignored

A célula acima dará um erro, e a mensagem nos diz que não é possível converter as células que possuem uma string vazia para float64. Nesse caso, podemos fazer um leve tratamento: Vamos substituir as strings vazias por zeros.

In [18]:
array2[array2=='  '] = 0
array2 = array2.astype("float64")
array2

array([0., 3., 0., ..., 7., 0., 0.])

Funcionou! Agora que o tipo é numérico, podemos fazer operações matemáticas, como a multiplicação elemento-a-elemento:

In [21]:
array3 = array2 * array2
print(array3.shape)
array3

(19725,)

array([ 0.,  9.,  0., ..., 49.,  0.,  0.])

Para inserir uma coluna nova, podemos acessar o DataFrame com o nome de uma coluna que não existe, e definir nela um array ou série da dimensão correta:

In [22]:
dataframe["COLUNA_NOVA"] = array3

E para remover uma coluna, podemos utilizar o método `.pop()`

In [32]:
dataframe.pop("COLUNA_NOVA")

0           0.0
1           9.0
2           0.0
3           0.0
4           0.0
          ...
19720    9801.0
19721    9801.0
19722      49.0
19723       0.0
19724       0.0
Name: COLUNA_NOVA, Length: 19725, dtype: float64

# Métodos de acesso em DataFrame

Através do acesso padrão, só conseguimos passar o nome de colunas

In [31]:
dataframe['ID_AGRAVO'] # Só consigo acessar as colunas

0        Y96
1        Y96
2        Y96
3        Y96
4        Y96
         ...
19720    Y96
19721    Y96
19722    Y96
19723    Y96
19724    Y96
Name: ID_AGRAVO, Length: 19725, dtype: object

Para acessar linhas, podemos usar a propriedade `.loc`. Com ela, fazemos o acesso através de colchetes, e passamos o NOME do que queremos: primeiro o nome da linha, e depois o nome da coluna. Também podemos passar slices como fazíamos em listas, e se passarmos tanto o nome de uma linha como o de uma coluna, acessamos o exato elemento no cruzamento das duas.

In [24]:
dataframe.loc[:, "TP_NOT"] # Pelo nome, posso acessar linhas ou colunas

0        2
1        2
2        2
3        2
4        2
        ..
19720    2
19721    2
19722    2
19723    2
19724    2
Name: TP_NOT, Length: 19725, dtype: object

É importante lembrar que os índices das linhas nem sempre são numéricos: assim como as colunas eles podem ser objetos, strings e até números aleatórios. Nesses casos, também temos um método de indexação por posição: a propriedade `.iloc`.

In [33]:
dataframe.iloc[14, 4] # Elemento na 14ª linha, 4ª coluna

'2007'

Com a qual também podemos utilizar slices e índices negativos:

In [34]:
dataframe.iloc[:, -1]

0        1
1        1
2        1
3        1
4        1
        ..
19720    1
19721    1
19722    1
19723    2
19724    1
Name: CAT, Length: 19725, dtype: object

# Métodos de DataFrame

Se quisermos, podemos pedir para um DataFrame uma "lista" com os nomes de suas colunas (na verdade é um objeto do tipo Index, mas pode ser convertido com `list()` e utilizado da mesma forma que uma)

In [35]:
dataframe.keys()

Index(['TP_NOT', 'ID_AGRAVO', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT',
       'ID_MUNICIP', 'ID_REGIONA', 'ID_UNIDADE', 'DT_ACID', 'SEM_ACID',
       'ANO_NASC', 'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA',
       'CS_ESCOL_N', 'SG_UF', 'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS',
       'ID_OCUPA_N', 'SIT_TRAB', 'NUTEMPO', 'TPTEMPO', 'LOCAL_ACID', 'CNAE',
       'UF_EMP', 'MUN_EMP', 'TERCEIRIZA', 'CNAE_PRIN', 'HORA_ACID', 'MIN_ACID',
       'HORA_JOR', 'MIN_JOR', 'UF_ACID', 'MUN_ACID', 'CID_ACID', 'TIPO_ACID',
       'MAIS_TRAB', 'NU_TRAB', 'ATENDE_MED', 'DT_ATENDE', 'UF_ATENDE',
       'MUN_ATENDE', 'UNI_ATENDE', 'PART_CORP1', 'PART_CORP2', 'PART_CORP3',
       'CID_LESAO', 'REGIME', 'EVOLUCAO', 'DT_OBITO', 'CAT'],
      dtype='object')

Da mesma forma, temos uma propriedade que nos retorna uma lista (nesse caso um array) com os valores definidos como índices do DataFrame.

In [28]:
dataframe.index.values

array([    0,     1,     2, ..., 19722, 19723, 19724])

Por fim, temos uma forma de "simplificar" o DataFrame, retirando os nomes das colunas e os índices personalizados das linhas. Teoricamente, estamos convertendo nossa tabela para uma "matriz" bidimensional, que herda o tipo do DataFrame.

In [29]:
arrayzao = dataframe.values
arrayzao

array([['2', 'Y96 ', '20070104', ..., '        ', '1', 0.0],
       ['2', 'Y96 ', '20070127', ..., '        ', '1', 9.0],
       ['2', 'Y96 ', '20070131', ..., '        ', '1', 0.0],
       ...,
       ['2', 'Y96 ', '20071210', ..., '        ', '1', 49.0],
       ['2', 'Y96 ', '20071223', ..., '        ', '2', 0.0],
       ['2', 'Y96 ', '20071219', ..., '        ', '1', 0.0]], dtype=object)

Podemos tentar converter esse array para um tipo numérico...

In [30]:
# arrayzao = arrayzao.astype("float64")

ValueError: ignored

Mas novamente teremos um erro, pois temos várias células com letras que não podem ser convertidas para float. Nesse caso seria necessário um tratamento de dados muito mais complexo e exaustivo...

# Armazenando o DataFrame

Para não ser necessário baixar o DataFrame da biblioteca PySus toda vez, podemos salvá-lo em um arquivo de extensão .csv .

In [36]:
dataframe.to_csv('Acidentes de Trabalho.csv', index=False)

Em seguida, podemos ler o csv convertendo-o de volta a um DataFrame.

In [37]:
df = pd.read_csv("Acidentes de Trabalho.csv")

/tmp/ipykernel_3535/1796324158.py:1: DtypeWarning: Columns (17,18,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Acidentes de Trabalho.csv")

# Máscaras em DataFrame

Futuramente, veremos melhor o que significa uma máscara. Por enquanto, entendam a sintaxe abaixo da seguinte forma: Podemos utilizar loc e iloc juntamente com uma condição, e o DataFrame só nos retornará os locais em que essa condição é verdadeira. No exemplo abaixo, estou pedindo primeiro uma condição para as linhas (todas as linhas em que o valor da coluna "ID_MUNICIP" é 351380). Em seguida, passo uma condição para as colunas (nesse caso, só pedi a coluna "CS_GESTANT").

In [ ]:
df.loc[df['ID_MUNICIP']==351380, 'CS_GESTANT']

0        6
1        9
2        6
3        6
4        6
        ..
18111    9
18112    6
18113    6
18114    6
18115    6
Name: CS_GESTANT, Length: 137, dtype: int64